# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
**/.idea/

*.npy

# Python cache
__pycache__/
*.pyc

# Dataset files
assignment1/cs231n/datasets/cifar-10-batches-py/
assignment2/cs231n/datasets/coco_captioning/
